################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Projekat_VP/Client/obj
/Projekat_VP/Common/obj
/Projekat_VP/Service/obj
/Projekat_VP/.vs/Projekat_VP
/Projekat_VP/Commonn/obj
/Projekat_VP/.vs/ProjectEvaluation
/Projekat_VP/Client/bin/Debug
/Projekat_VP/Common/bin/Debug
/Projekat_VP/packages
/Projekat_VP/Service/bin/Debug
/Projekat_VP/Service/.vs
/Projekat_VP/Common/.vs
/Projekat_VP/Client/.vs
