<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="datasetPath" value="C:\Projekat\data\office_sensor.csv" />
		<add key="logPath" value="C:\Projekat\logs\invalid_rows.log" />
	</appSettings>

	<system.serviceModel>

		<client>
			<endpoint name="ServiceContract"
					  address="net.tcp://localhost:4002/ServiceContract"
					  binding="netTcpBinding"
					  contract="Common.ISensorContract" />
		</client>

	</system.serviceModel>
</configuration>